:root {
  --mobile: 375px;
  --desktop: 1440px;

  --primary-color: hsl(25, 97%, 53%);

  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  --font-size: 15px;

  --font: 'Inter', sans-serif;
}

body {
  font-size: var(--font-size);
  font-family: var(--font);
  color: var(--white);
}

main {
  width: 100vw;
  height: 100vh;
  background-color: var(--very-dark-blue);
  display: grid;
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18rem;
  width: 20rem;


  background-color: var(--dark-blue);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
}

.icon {
  background-color: var(--very-dark-blue);
  color: var(--primary-color);
  font-size: 1.2rem;
  width: 1rem;
  padding: 0.4rem 0.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.text-group h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.text-group p {
  color: var(--light-grey);
  line-height: 1.5;
}

.radio-group {
  display: flex;
  justify-content: space-between;
}

.radio-group label {
  position: relative;
}

.radio-group span {
  color: var(--white);
  background-color: var(--very-dark-blue);
  font-size: 0.8rem;
  padding: 0.8rem 1rem;
  border-radius: 100%;
  cursor: pointer;
}

.radio-group span:hover,
.radio-group span:focus {
  background-color: var(--primary-color);
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"]+span {
  transition: all 0.2s;
}

input[type="radio"]:checked+span {
  background-color: var(--light-grey);
}

.card button {
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 600;
  border-radius: 1rem;
  padding: 0.7rem 1.5rem;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.09rem;

  transition: all 0.2s;
}

.card button:hover,
.card button:focus {
  background-color: var(--white);
  color: var(--primary-color);

  outline: none;
  cursor: pointer;
}