:root {
  --mobile: 375px;
  --desktop: 1440px;

  --primary-color: hsl(25, 97%, 53%);

  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  --font-size: 15px;

  --font: 'Inter', sans-serif;
}

body {
  font-size: var(--font-size);
  font-family: var(--font);
  color: var(--white);
}

main {
  min-height: 100vh;
  background-color: hsl(0, 0%, 0%);
  display: grid;
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 23rem;
  width: 23rem;

  background: linear-gradient(var(--dark-blue), var(--very-dark-blue));
  padding: 2rem;
  border-radius: 1.6rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dark-blue);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.icon img {
  width: 1rem;
  height: 1rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.text-group h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.text-group p {
  color: var(--light-grey);
  line-height: 1.5;
}

.radio-group {
  display: flex;
  justify-content: space-between;
}

.radio-group label {
  position: relative;
  cursor: pointer;
  height: 3.3rem;
  width: 3.3rem;
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  border-radius: 50%;
}

.radio-group span {
  color: var(--light-grey);
  background-color: var(--dark-blue);
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;



  cursor: pointer;
  user-select: none
}

.radio-group span:hover,
.radio-group span:focus {
  background-color: var(--primary-color);
  color: var(--white);
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  display: none;
}

input[type="radio"]:hover {
  cursor: pointer;
}

input[type="radio"]+span {
  transition: all 0.3s;
}

input[type="radio"]:checked+span {
  background-color: var(--light-grey);
  color: var(--white);
}

.card button {
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 600;
  height: 2.6rem;
  width: 100%;
  border-radius: 6.6rem;
  padding: 0.7rem 1.5rem;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.13rem;
  transition: all 0.5s;
}

.card button:hover,
.card button:focus {
  background-color: var(--white);
  color: var(--primary-color);

  outline: none;
  cursor: pointer;
}

.card button:active {
  transform: scale(0.9);
}


/* THANK YOU CARD STYLES */

.thank-you {
  align-items: center;
  justify-content: space-around;
}

.invisible {
  display: none;
}

.thank-you img {
  width: 10rem;
}

.thank-you .rating-choice {
  background-color: var(--dark-blue);
  color: var(--primary-color);
  padding: 0.6rem 1.1rem;
  border-radius: 6.6rem;
}

.thank-you .text {
  display: flex;
  align-items: center;
  gap: 1rem;

  flex-direction: column;
}

.thank-you .text h1 {
  font-size: 2rem;
  font-weight: 700;
}

.thank-you .text p {
  color: var(--light-grey);
  line-height: 1.4;
  text-align: center;
}